@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-style: normal;
}

body{
    background-color: white;
}

.big-container {
    display: flex;
    box-sizing: border-box;
}

.all-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #343A40;
    gap: 60px;
}

.header-right {
    display: flex;
    flex-direction: row;}

.search-box {
    padding-left: 10px;
}

.Navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 20px;
}

#list-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    font-family: 'Roboto';
}

.Home {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FFFFFF;
    margin: 15px;
    font-size: 15px;
}
.Link {
    display: flex;
    flex-direction: row;
    align-items: center;
    color:rgba(255, 255, 255, 0.5);
    display: flex;
    margin: 15px;
    font-size: 16px;
}
.Disabled {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(255, 255, 255, 0.25);
    margin: 15px;
    font-size: 16px;
}

.Dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    color:rgba(255, 255, 255, 0.5);
    margin: 15px;
    font-size: 16px;
}

#Dropdown-option {
    display: flex;
    align-items: center;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    width: 9.59px;
    height: 4.8px;
    left: 85.02px;
    top: 16.12px;
    border-width: 4.79688px 4.79688px 0px 4.79688px;
}

#search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #6C757D;
    height: 30px;
    width: 170px;
    border-radius: 4px;
    margin: 5px;
}

.search-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius:4.8px;
    color: #28A745;
    border-color: #28A745;
    background-color: #343A40;
    margin: 5px;
    width: 70px;
    height: 40px;
    font-size: 16px;
    padding: 64px, 186px, 80px, 186px;
    justify-content: center;

}

.main {
    display: flex;
    flex-direction: column;
    background: #E9ECEF;
    left: 201px;
    padding: 64px 280px 80px;
}

#heading {
    display: flex;
    flex-direction: co;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 72px;
    height: 80px;
    padding: 10px;
}

.paragraph {
    display: flex;
    align-items: center;
    color: #212529;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 1107.43px;
    height: 41px;
    padding: 10px;
    margin-top: 14.39px;

}

.para-text {
    display: flex;
    text-align: left;
}

.learn-more {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #007BFF;
    color: #FFFFFF;
    border: 1px solid #007BFF;
    border-radius: 4.8px;
    width: 152.97px;
    height: 48px;
    font-size: 20px;
    margin-top: 20px;

}

/* flex */
/* .all-heading {
    display: flex;
    align-items: center;
    margin-left: 290px;
    height: 277.39px;
}

.heading1 {
    display: flex;
    flex-direction: column;
    width: 344.39px;
    height: 113px;
    font-size: 15px;
    line-height: 24px;
} */

/* grid */
.all-heading {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    /* grid-template-columns: 20% 20% 20% 20% 20%; 
    grid-column-start: 2;
    grid-column-end: 5;     */
    margin-left: 250px;
    margin-top: 50px;
    height: 277.39px;
}

/* grid */
.heading1 {
    display: grid;
    width: 344.39px;
    height: 113px;
    font-size: 15px;
    line-height: 24px;
} */



.view-details {
    display: flex;
    justify-content: center;
    padding: 6px 13.4375px 8px 13px;
    background: #6C757D;
    border: 1px solid #6C757D;
    border-radius: 4px;
    width: 30px;
    height: 40px;
    color: white;
}

hr {
    width: 1200px;
    margin-left: 290px;
    margin-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

#company {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    margin-top: 100px;
    margin-left: 290px;
}

@media (max-width:320px) {
    .big-container {
    width: 100vw;
    height: 100vh;
    }

    .Home {
        display:none;
    }
    .Link {
        display: none;
    }
    .Disabled {
        display: none;
    }

    .Dropdown {
        display: none;
    }

    #Dropdown-option {
        display: none;
    }

    #search-form {
        display: none;
    }

    .search-box {
        display: none;
    }

    .search-button {
        display: none;

    }

    .main {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0%;
        margin-left: 0px;
        margin-right: 10px;
        /* gap: 10px; */
    }

    #heading {
        display: flex;
        margin-bottom: 10%;
    }
    
    .paragraph {
        display: flex;
        text-align: left;
        width: 100%;
        margin-top: 40%;
    }
    
    .para-text {
        width: 90%;
    }

    .learn-more {
        margin-top: 20%;
        margin-bottom: 15%;
        margin-left: 10px;
    
    }
    
    .all-heading {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 0px;
        margin: 2%;
        gap: 40%;

    }

    .heading1  {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #company {
        margin-left: 5%;
        margin-top: 150%;
    }
}
